stages:
  - build

rpki-publication-server:
  stage: build
  image: $CI_REGISTRY/swe/gitlab-ci/sbt:0.13.7-2.11-jdk-8

  script:
    - sbt clean universal:packageZipTarball 
  artifacts:
    paths:
      - target/universal/rpki-publication-server-1.1-SNAPSHOT.tgz


