/target
/snapshots
/store
/project/metals.sbt
/project/project
/project/target
*.iml
*.log*
*.db
.idea/
.classpath
.project
.settings/
.store
.bloop
.metals
.scalafmt.conf
.vscode
.vagrant
project/project
project/target
