build:
  stage: build
  image: $CI_REGISTRY/swe/gitlab-ci/sbt:1.3-2.13-jdk-8
  services:
    - postgres:12.1
  variables:
    POSTGRES_DB: pubserver
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
  script:
    - sbt clean test universal:packageZipTarball assembly -Dpostgresql.url=jdbc:postgresql://postgres/${POSTGRES_DB} -Dpostgresql.user=${POSTGRES_USER} -Dpostgresql.password=${POSTGRES_PASSWORD}
  artifacts:
    paths:
      - target/universal/rpki-publication-server-1.1-SNAPSHOT.tgz
      - target/rpki-publication-server.jar

.deploy_template: &deploy_env
  stage: deploy
  image: docker:latest
  dependencies:
    - build
  services:
    - docker:dind
  before_script:
    - apk add --update curl
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -f Dockerfile.artifact_container --tag $CI_REGISTRY_IMAGE/artifacts:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/artifacts:$CI_COMMIT_SHA
    - curl -X POST -F "token=$RPKI_AWS_TOKEN" -F "ref=$BRANCH_TARGET" -F "variables[DEPLOY_TARGET]=$DEPLOY_TARGET" -F "variables[IMAGE_TARGET]=$CI_COMMIT_SHA"  "$AWS_PIPELINE_TRIGGER"
  when:
    manual


.deploy_on_premise_template: &deploy_on_premise_template
  stage: deploy
  image: docker-registry.ripe.net/swe/gitlab-ci/debian-deployenv
  script:
    - if [ -z "${SALT_DEPLOY_TARGET}" ]; then echo "set SALT_DEPLOY_TARGET"; exit 2; fi;
    - if [ -z "${DEPLOY_USER}" ]; then echo "set DEPLOY_USER"; exit 2; else echo "DEPLOY_USER = ${DEPLOY_USER}"; fi;
    - if [ -z "${DEPLOY_USER_PASS}" ]; then echo "set DEPLOY_USER_PASS"; exit 2; else echo "DEPLOY_USER_PASS = ${DEPLOY_USER_PASS}"; fi;
    - if [ -z "${SALT_URL}" ]; then echo "set SALT_URL"; exit 2; else echo "SALT_URL = ${SALT_URL}"; fi;    
    - if [ -z "${MONITORING_URL}" ]; then echo "set MONITORING_URL"; exit 2; fi;    
    - echo "Logging into salt-api"
    - >
      curl -ik ${SALT_URL}/login \
        -c ~/cookies.txt \
        -H 'Accept: application/x-yaml' \
        -d username='$DEPLOY_USER' \
        -d password="$DEPLOY_USER_PASS" \
        -d eauth='pam'

    - echo "Updating containers via salt on $SALT_DEPLOY_TARGET"
    - >
      curl -D "/dev/stderr" -k ${SALT_URL} \
        -b ~/cookies.txt \
        -H 'Content-type: application/json' -d"
            [{
              \"timeout\": 120,
              \"failhard\": \"True\",
              \"client\": \"local_batch\",
              \"batch-size\": \"25%\",
              \"fun\": \"state.apply\",
              \"tgt_type\": \"glob\",
              \"tgt\": \"$SALT_DEPLOY_TARGET\",
              \"arg\": [\"docker.f5_container_up\"],
              \"kwarg\": {
                \"pillar\": {
                  \"vars\": {
                    \"container\": \"rpki-publication-server\",
                    \"health_endpoint\": \"${MONITORING_URL}\",
                    \"drain_time\": \"30\"
                  }
                }
              }
            }]
            " | jq -R '. as $raw | try fromjson catch $raw'


deploy-on-premise:prepdev:
  <<: *deploy_on_premise_template
  stage: deploy
  environment:
    name: prepdev
    url: https://publish-1.rpki.prepdev.ripe.net
  when:
    manual

deploy-on-premise:production:
  <<: *deploy_on_premise_template
  stage: deploy
  environment:
    name: production
    url: https://publish-1.rpki.ripe.net
  only:
    - tags@rpki/rpki-publication-server
  when:
    manual

build_tagged_image:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - echo "Releasing this image as :latest and :${CI_COMMIT_SHORT_SHA}"
    - docker build --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA --tag $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - master@rpki/rpki-publication-server

build_branch_image:
  stage: deploy
  when: manual
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  except:
    - master

deploy-prepdev:
  variables:
    DEPLOY_TARGET: "prepdev"
  <<: *deploy_env

deploy-prod:
  variables:
    DEPLOY_TARGET: "prod"
  <<: *deploy_env
  only:
    - master
