name: Release

on:
  push:
    tags: 'v*.*.*'    

jobs:
  sbt-build:
    uses: ./.github/workflows/sbt-build.yml

  docker:
    uses: ./.github/workflows/docker.yml
    needs: sbt-build
    with:
      jar-artifact: ${{ needs.sbt-build.outputs.jar-artifact }}
      push: true
      tags: ghcr.io/ripe-ncc/rpki-publication-server:${{ github.event.release.tag_name }}, ghcr.io/ripe-ncc/rpki-publication-server:latest
