name: SBT build and test
on:
  workflow_call:
    outputs:
      jar-artifact:
        description: "Name of the executable JAR artifact."
        value: "rpki-publication-server-jar"
      test-reports:
        description: "Name of the test reports artifact."
        value: "test-reports"

jobs:
  sbt-build-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: pubserver_test
          POSTGRES_USER: pubserver
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - uses: olafurpg/setup-scala@v14
        with:
          java-version: openjdk@1.11

      - name: Cache ivy cache
        id: ivy-cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.ivy2
            ~/.sbt
          key: ${{ runner.os }}--${{ hashFiles('build.sbt') }}

      - name: Setup DB
        run: psql -h localhost -U ${POSTGRES_USER} ${POSTGRES_DB} -c 'CREATE EXTENSION IF NOT EXISTS "uuid-ossp";'
        env:
          PGPASSWORD: postgres
          POSTGRES_DB: pubserver_test
          POSTGRES_USER: pubserver

      - name: Compile
        run: sbt compile
        env:
          POSTGRES_URL: "jdbc:postgresql://localhost:5432/pubserver_test"
          POSTGRES_PASSWORD: postgres
          CI_COMMIT_SHA: "${GITHUB_SHA}"

      - name: Test & package
        run: sbt coverage test coverageReport
        env:
          POSTGRES_URL: "jdbc:postgresql://localhost:5432/pubserver_test"
          POSTGRES_PASSWORD: postgres
          CI_COMMIT_SHA: "${GITHUB_SHA}"

      - name: Package
        run: sbt assembly
        env:
          POSTGRES_URL: "jdbc:postgresql://localhost:5432/pubserver_test"
          POSTGRES_PASSWORD: postgres
          CI_COMMIT_SHA: "${GITHUB_SHA}"

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: rpki-publication-server-jar
          path: target/rpki-publication-server.*

      - name: Upload reports
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: |
            target/scoverage-report/**/*
            target/test-reports/**/*
